* {
  margin: 0;
  padding: 0; }

*,
::before,
::after {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f4f4f4;
  text-rendering: geometricprecision;
  min-height: 100vh;
  min-width: 100%;
  color: #000000;
  font-size: 16px; }

a {
  text-decoration: none;
  outline: none;
  cursor: pointer; }

.button {
  line-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  min-width: 9rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem; }
  .button--primary {
    color: #ffffff;
    background-color: #BD182A; }
  .button--white {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #8D8D8D; }
  .button--full-width {
    width: 100%; }
  .button--circular {
    border-radius: 2.5rem; }
  .button:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); }

.main-page__wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh; }

.main-page__container {
  flex: 1;
  background-color: #f4f4f4;
  width: 100vw;
  height: auto;
  min-height: 85vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: auto;
  position: relative; }

.header {
  display: flex;
  flex-direction: row;
  line-height: 5rem;
  background-color: #ffffff;
  width: 100%;
  align-items: center;
  justify-content: space-between; }
  .header__logo {
    font-size: 1.5rem;
    color: #BD182A;
    font-weight: 600;
    margin-left: 3rem; }
  .header__image {
    width: 2rem;
    height: 2rem;
    background-color: #E5E5E5;
    border-radius: 50%;
    margin-right: 3rem; }
  .header__button {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 8rem;
    cursor: pointer;
    user-select: none; }
    .header__button-description {
      font-size: 0.9rem; }
    .header__button-icon {
      height: 2rem;
      width: 2rem;
      background-color: #BD182A;
      border-radius: 50%;
      margin-right: 0.8rem;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center; }

.main-menu {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  height: auto;
  width: 16%; }
  .main-menu__item {
    line-height: 3.5rem;
    padding-left: 3rem;
    color: #000000;
    text-transform: capitalize; }
    .main-menu__item.active, .main-menu__item:hover {
      background-color: #BD182A;
      color: #ffffff;
      border-top-right-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem; }

.page-layout {
  padding-top: 2rem;
  margin-left: 2rem;
  padding-right: 2rem;
  flex: 1;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 16%;
  bottom: 0;
  right: 0; }
  .page-layout__title {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize; }
  .page-layout__body {
    margin: 2rem 0;
    background-color: #FAFAFA;
    display: flex;
    min-height: 70vh; }

.modal__wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #C5C5C5;
  z-index: 100;
  display: none;
  align-items: center;
  justify-content: center; }
  .modal__wrapper.open {
    display: flex; }

.modal__container {
  width: 25vw;
  min-height: 50vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 200;
  padding: 3rem;
  justify-content: space-between; }

.modal__title {
  font-weight: 500;
  font-size: 1.7rem; }

.modal--success {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.modal__description {
  margin: 2rem 0;
  font-size: 1rem;
  font-weight: 400; }

.modal__icon--success {
  color: #ffffff;
  background-color: #47DE81;
  font-size: 2.5rem;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 2rem; }

.form__container {
  margin: 1rem 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start; }

.form__label {
  width: 100%;
  margin: 1rem 0 .5rem;
  font-size: 0.9rem;
  font-weight: 500; }
  .form__label--campaigns {
    margin-top: 2rem; }
  .form__label:first-of-type {
    margin-top: 0; }

.form__input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid #8D8D8D; }
  .form__input--campaigns {
    padding: .5rem; }
  .form__input:last-of-type {
    margin-bottom: 2rem; }

.support__body {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff; }

.support__heading {
  font-weight: 500;
  width: 70%;
  text-align: center;
  margin: 0 auto 1rem;
  font-size: 1.9rem;
  line-height: 2.5rem; }
  .support__heading-link {
    color: #1566D6; }

.support__card {
  display: flex;
  flex-direction: column;
  flex: 0 1 30%;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.1); }
  .support__card-container {
    display: flex;
    flex-direction: row;
    padding: 1rem 8rem;
    justify-content: space-between; }
  .support__card-title {
    font-size: 1.2rem;
    font-weight: 600; }
  .support__card-description {
    margin-top: 1rem;
    line-height: 1.5rem;
    overflow: hidden;
    max-height: 3rem;
    color: #5D5D5D;
    font-weight: 400; }
  .support__card-image {
    margin: 2rem 0;
    height: 5rem; }

.campaigns__body {
  padding: 2rem;
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #F8F8F8;
  border: 1px solid #E8E8E8;
  width: 100%; }
  .campaigns__body-wrapper {
    display: flex;
    flex-direction: column; }
  .campaigns__body--top {
    padding-right: 6rem;
    padding-bottom: 4rem; }
  .campaigns__body--bottom {
    background-color: #ffffff;
    padding-right: 4rem;
    padding-bottom: 4rem; }

.campaigns__title {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 500; }
  .campaigns__title--secondary {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem 0 0.5rem; }

.campaigns__description {
  color: #848484; }

.campaigns__card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3rem 0;
  width: 100%;
  cursor: default; }

.campaigns__card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 15%;
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 0.6rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3); }
  .campaigns__card-container--medium {
    justify-content: flex-start;
    margin: 1rem 0 3rem;
    padding: 2rem 1rem 1rem;
    flex: 0 1 13%; }
    .campaigns__card-container--medium:first-of-type {
      margin-right: 2rem; }
  .campaigns__card-container:hover {
    box-shadow: 0px 0px 4px 4px #EB9A3B;
    background-color: #F8F8F8; }

.campaigns__card-title {
  font-size: 1rem;
  color: #8D8D8D;
  font-weight: 400; }

.campaigns__card-number {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0.5rem 0 1.5rem; }

.campaigns__card-description {
  color: #6c6c6c;
  font-size: 0.9rem;
  text-align: center; }

.campaigns__card-image {
  height: 4.5rem;
  margin-bottom: 2rem; }

.campaigns__row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%; }
  .campaigns__row--secondary {
    justify-content: flex-end; }
  .campaigns__row--medium {
    justify-content: flex-start; }
  .campaigns__row-text {
    font-size: 1.2rem;
    line-height: 2rem; }
    .campaigns__row-text-link {
      color: #2035AC;
      text-decoration: underline; }

.campaigns__input-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex: 1; }
  .campaigns__input-wrapper:first-of-type {
    margin-right: 1rem; }

.course-builder__body {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #E8E8E8;
  width: 100%; }

.course-builder__title {
  font-size: 1.5rem;
  font-weight: 600; }

.course-builder__card-container {
  margin: 2rem 0;
  width: 80%;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #F8F8F8; }

.course-builder__card-row {
  display: flex;
  width: 100%; }
  .course-builder__card-row--header {
    background-color: #E8E8E8; }

.course-builder__card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  background-color: #BD182A;
  border-top-right-radius: 0.5rem;
  overflow: hidden;
  flex: 1.2;
  z-index: 4; }
  .course-builder__card-header-title {
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffffff;
    line-height: 2.5rem; }
    .course-builder__card-header-title--right {
      color: inherit; }
  .course-builder__card-header-description {
    font-size: 0.9rem;
    font-weight: 400;
    color: #ffffff;
    line-height: 2rem; }
    .course-builder__card-header-description--right {
      color: inherit; }
  .course-builder__card-header--right {
    background-color: #E8E8E8;
    flex: 0.8;
    z-index: 3; }

.course-builder__card-body {
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
  flex: 1.2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 2;
  align-items: center;
  padding-bottom: 2rem; }
  .course-builder__card-body--right {
    flex: 0.8;
    box-shadow: none;
    z-index: 1; }

.course-builder__list {
  list-style: none;
  margin: 3rem;
  min-width: 80%; }
  .course-builder__list--right {
    min-width: 0; }
  .course-builder__list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem; }
    .course-builder__list-item:last-of-type {
      margin: 0; }
  .course-builder__list-icon {
    height: 1.5rem; }
  .course-builder__list-detail {
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 2rem; }

.dashboard__body {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  padding: 3rem 4rem;
  height: 100%;
  width: 100%; }

.dashboard__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem; }

.dashboard__title {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize; }

.dashboard__type {
  font-size: 0.9rem;
  color: white;
  background-color: #9C6ADE;
  padding: .2rem .5rem;
  border-radius: 2.5rem;
  font-weight: 500; }

.dashboard__chart {
  width: 100%;
  min-height: 50vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center; }
  .dashboard__chart-loading {
    font-size: 2rem;
    font-weight: 600; }
