.modal {
  &__wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $color-grey-5;
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;

    &.open {
      display: flex;
    }
  }

  &__container {
    width: 25vw;
    min-height: 50vh;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 200;
    padding: 3rem;
    justify-content: space-between;
  }

  &__title {
    font-weight: 500;
    font-size: 1.7rem;
  }

  &--success {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__description {
    margin: 2rem 0;
    font-size: 1rem;
    font-weight: 400;
  }

  &__icon {
    &--success {
      color: $color-white;
      background-color: $color-green-success;
      font-size: 2.5rem;
      padding: 1rem;
      border-radius: 50%;
      margin-bottom: 2rem;
    }
  }
}
